/*
 Theme Name:   Mental Health Colorado
 Template:     yootheme
 Author:       AccessiTREE
 Author URI: http://www.accessitree.com
 Description:  Do not delete the YooTheme Pro Theme. This is a child theme and requires that core theme to stay installed.
 Version:      1.0.0
 Text Domain:  yootheme-child
*/